<section id="section-portfolio">
  <div class="title-line title-right">
    <div class="bg-line width-20p"></div>
    <h2 class="dark-bg">Portfolio</h2>
    <div class="bg-line width-40p"></div>
  </div>

  <div class="section-area">
    <div class="text-block">
      <p>samples of my work - please feel free to try them out</p>
    </div>

    <div id="project-list">
      <div class="portfolio-card">
        <div class="card-text">
          <h3 class="card-title">JOIN</h3>
          <h4 class="card-subtitle">JAVASCRIPT | HTML | CSS</h4>
          <div class="text-block">
            <p>Task Manager with a kanban System</p>
            <p>create and manage tasks</p>
            <p>users can be set up and added to the tasks</p>
            <p>this project is the result from a team of 3 progammers.</p>
          </div>
          <div class="project-links">
            <a
              href="https://dennis-schmalstieg.de/projects/10_1_join_v2"
              target="_blank"
              class="button-01 btn-blue"
              >Live test</a
            >
            <a
              href="https://github.com/felianfilian/10_1_join_v2"
              target="_blank"
              class="button-01 btn-hollow"
              >Github</a
            >
          </div>
        </div>
        <div class="card-img">
          <img
            class="img-project"
            src="./assets/project_thumbnails/test_03_join_cut.png"
            alt=""
          />
        </div>
      </div>

      <div class="portfolio-card">
        <div class="card-img">
          <img
            class="img-project"
            src="./assets/project_thumbnails/test_02_pollo_cut.png"
            alt=""
          />
        </div>
        <div class="card-text">
          <h3 class="card-title">El Pollo Loco</h3>
          <h4 class="card-subtitle">JAVASCRIPT | OOP | HTML | CSS</h4>
          <div class="text-block">
            <p>funny 2d platformer</p>
            <p>get rid of all the nasty chickens and defeat EL Pollo Loco</p>
          </div>
        </div>
      </div>

      <div class="portfolio-card">
        <div class="card-text">
          <h3 class="card-title">PokeDex</h3>
          <h4 class="card-subtitle">JAVASCRIPT | API | HTML | CSS</h4>
          <div class="text-block">
            <p>list of pokemos from an API</p>
            <p>see details and stats for every pokoemon</p>
          </div>
        </div>
        <div class="card-img">
          <img
            class="img-project"
            src="./assets/project_thumbnails/test_01_pokedex_cut.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
