<section id="section-portfolio">
  <div class="title-line">
    <div class="bg-line width-40p"></div>
    <h2 class="dark-bg">Portfolio</h2>
    <div class="bg-line width-20p"></div>
  </div>

  <p>samples of my work - please feel free to try them out</p>

  <div id="project-list">
    <div class="portfolio-card">
      <div class="card-text">
        <h3 class="card-title">JOIN</h3>
        <p>Task Manager with a kanban System</p>
        <p>create and manage tasks</p>
        <p>users can be set up and added to the tasks</p>
      </div>
      <div class="card-img">
        <img
          class="img-project"
          src="./assets/project_thumbnails/test_03_join.png"
          alt=""
        />
      </div>
    </div>

    <div class="portfolio-card">
      <div class="img-project-container">
        <img
          class="img-project"
          src="./assets/project_thumbnails/test_03_join.png"
          alt=""
        />
      </div>
      <div>
        <h3>El Pollo Loco</h3>
        <p>funny 2d platformer</p>
        <p>get rid of all the nasty chickens and defeat EL Pollo Loco</p>
      </div>
    </div>

    <div class="portfolio-card">
      <div>
        <h3>PokeDex</h3>
        <p>list of pokemos from an API</p>
        <p>see details and stats for every pokoemon</p>
      </div>
      <div class="img-project-container">
        <img
          class="img-project"
          src="./assets/project_thumbnails/test_03_join.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
