@import "src/assets/global-scss.scss";

#main-header {
  position: fixed;
  box-sizing: border-box;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 10vh;

  padding: 12px 0px;

  background-color: $bg01;
  z-index: 500;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.menu-burger {
  display: none;
}

#main-menu a {
  text-decoration: none;
  color: #fff;
}

#main-menu a:hover {
  color: $color01;
}

.menu-close {
  display: none;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  padding: 12px;

  background-color: #fff;
  font-size: 48px;
}

.menu-close:hover {
  background-color: $color01;
}

@media (max-width: 768px) {
  .menu-burger {
    display: flex;
  }

  #main-menu {
    position: absolute;
    top: 0;
    right: 0;

    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 48px;

    padding: 24px 48px;

    background-color: rgba($color: #000000, $alpha: 1);
    font-size: 36px;
  }

  .menu-close {
    display: flex;
  }
}
