<section id="main-header">
  <div class="header-content content-width">
    <div class="fs-24">
      <span class="first-letter">D</span>ENNIS
      <span class="first-letter">S</span>CHMALSTIEG
    </div>
    <img
      src="./assets/icons/menü-50.png"
      class="menu-burger"
      (click)="showMenu()"
    />
    <div id="main-menu">
      <div class="menu-close">
        <div class="fs-24"><span class="first-letter">D</span>ENNIS</div>
        <img
          class="menu-burger"
          src="./assets/icons/menü-50.png"
          alt="X"
          (click)="closeMenu()"
        />
      </div>
      <a class="a-01" href="#section-about" (click)="closeMenu()">About me</a>
      <a class="a-01" href="#section-skills" (click)="closeMenu()">Skills</a>
      <a class="a-01" href="#section-portfolio" (click)="closeMenu()"
        >Portfolio</a
      >
    </div>
  </div>
</section>
