@import "src/assets/global-scss.scss";

#main-header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  min-height: 50px;

  padding: 12px 0px;

  background-color: $bg01;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#main-menu a {
  text-decoration: none;
  color: #fff;
}

#main-menu a:hover {
  color: $color01;
}
