<section id="main-header">
  <div class="header-content content-width">
    <h3>
      <span class="first-letter">D</span>ENNIS
      <span class="first-letter">S</span>CHMALSTIEG
    </h3>
    <img
      src="./assets/icons/menü-50.png"
      class="menu-burger"
      (click)="showMenu()"
    />
    <div id="main-menu">
      <a class="a-01" (click)="gotoSection('section-about')">
        <span *ngIf="gs.lang == 'eng'">About me</span>
        <span *ngIf="gs.lang == 'ger'">Über mich</span>
      </a>
      <a class="a-01" (click)="gotoSection('section-skills')">Skills</a>
      <a class="a-01" (click)="gotoSection('section-portfolio')">Portfolio</a>
      <img
        class="lang-button"
        src="./assets/languages/ger.jpg"
        alt="DEU"
        (click)="changeLang('ger')"
        *ngIf="gs.lang == 'eng'"
      />
      <img
        class="lang-button"
        src="./assets/languages/eng.jpg"
        alt="DEU"
        (click)="changeLang('eng')"
        *ngIf="gs.lang == 'ger'"
      />
    </div>
    <div id="mobile-menu">
      <div class="menu-close">
        <div class="fs-24"><span class="first-letter">D</span>ENNIS</div>
        <img
          class="menu-burger"
          src="./assets/icons/menü-50.png"
          alt="X"
          (click)="closeMenu()"
        />
      </div>

      <a class="a-01" (click)="gotoSection('section-about'); closeMenu()">
        <span *ngIf="gs.lang == 'eng'">About me</span>
        <span *ngIf="gs.lang == 'ger'">Über mich</span>
      </a>
      <a class="a-01" (click)="gotoSection('section-skills'); closeMenu()"
        >Skills</a
      >
      <a class="a-01" (click)="gotoSection('section-portfolio'); closeMenu()"
        >Portfolio</a
      >
      <img
        class="lang-button-mobile"
        src="./assets/languages/ger.jpg"
        alt="DEU"
        (click)="changeLang('ger')"
        *ngIf="gs.lang == 'eng'"
      />
      <img
        class="lang-button-mobile"
        src="./assets/languages/eng.jpg"
        alt="DEU"
        (click)="changeLang('eng')"
        *ngIf="gs.lang == 'ger'"
      />
    </div>
  </div>
</section>
