<div id="main-footer">
  <div class="footer-content content-width">
    <div class="fs-24">
      <span class="first-letter">D</span>ENNIS
      <span class="first-letter">S</span>CHMALSTIEG
    </div>
    <div>© Dennis Schmalstieg {{ thisYear }}</div>
    <div class="social-links">
      <img src="./assets/social_icons/icon_git.png" alt="git" />
      <img src="./assets/social_icons/icon_mail.png" alt="mail" />
      <img src="./assets/social_icons/icon_linkedin.png" alt="linkedin" />
      <img src="./assets/social_icons/icon_xing.png" alt="xing" />
    </div>
  </div>
</div>
