<div id="main-footer">
  <div class="footer-content content-width">
    <div class="footer-left fs-24">
      <span><span class="first-letter">D</span>ENNIS</span>
      <a href="#">Imprint</a>
    </div>
    <div>© Dennis Schmalstieg {{ thisYear }}</div>
    <div class="social-links">
      <a href="https://github.com/felianfilian" target="_blank">
        <img src="./assets/social_icons/icon_git.png" alt="git" />
      </a>
      <a href="mailto:info@dennis-schmalstieg.de" target="_blank">
        <img src="./assets/social_icons/icon_mail.png" alt="mail" />
      </a>
      <a href="https://www.linkedin.com/in/dennis-schmalstieg" target="_blank">
        <img src="./assets/social_icons/icon_linkedin.png" alt="linkedin" />
      </a>
      <a href="https://www.xing.com/profile/Dennis_Schmalstieg" target="_blank">
        <img src="./assets/social_icons/icon_xing.png" alt="xing" />
      </a>
    </div>
  </div>
</div>
