@import "src/assets/global-scss.scss";

.about-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-description {
  max-width: 550px;
}

.benefit-container {
  display: flex;
  align-items: center;

  padding: 32px 0 0 64px;
}

.icon-benefit {
  margin-right: 32px;
}

.img-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.img-profile-head {
  min-width: 200px;
  max-width: 350px;

  border: 2px solid $color01;
  border-radius: 50%;

  background-color: rgba($color01, 0.2);

  box-shadow: 0 0 16px $color01;
}

@media (max-width: 992px) {
  .about-container {
    justify-content: center;
  }
  .about-description {
    max-width: 100%;
  }
  .img-about {
    display: none;
  }
}
