<section id="section-about">
  <div class="title-line">
    <div class="bg-line width-40p"></div>
    <h2 class="dark-bg">About me</h2>
    <div class="bg-line width-20p"></div>
  </div>

  <div class="about-container">
    <div width="60%">
      <span>I am the best frontend developer</span>
    </div>
    <div class="hero-container">
      <img
        class="img-profile-head"
        src="./assets/ds_profile/profile_01_head_01.png"
        alt="ds_head"
      />
    </div>
  </div>
</section>
