@import "src/assets/global-scss.scss";

.title-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.bg-line {
  background-color: $color02;
  height: 4px;
}

.width-20p {
  width: 20%;
}

.width-40p {
  width: 40%;
}

.about-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 64px 0;
}

.img-profile-head {
  width: 200px;

  border: 2px solid $color01;
  border-radius: 50%;
}
