<section id="section-about">
  <div class="title-line title-right">
    <div class="bg-line width-20p"></div>
    <h2 class="dark-bg">About Me</h2>
    <div class="bg-line width-40p"></div>
  </div>

  <div class="section-area">
    <div class="about-container content-width">
      <div class="about-description text-block">
        <p>
          I'm a skilled professional based in Hannover, specializing in HTML,
          CSS, JavaScript, TypeScript, and Angular.
        </p>
        <p>
          With a commitment to writing clean and a keen eye for good design,
          efficient code, I bring creativity and technical expertise to every
          project.
        </p>

        <div class="benefit-container">
          <img
            class="icon-benefit"
            src="./assets/skill_icons/skill_angular.png"
            alt=""
          />
          <p>Benefit 1</p>
        </div>
        <div class="benefit-container">
          <img
            class="icon-benefit"
            src="./assets/skill_icons/skill_angular.png"
            alt=""
          />
          <p>Benefit 2</p>
        </div>
      </div>

      <div class="img-about">
        <img
          class="img-profile-head"
          src="./assets/ds_profile/profile_01_head_01.png"
          alt="ds_head"
        />
      </div>
    </div>
  </div>
</section>
