@import "src/assets/global-scss.scss";

#section-hero {
  overflow-x: hidden;
  display: flex;
  justify-content: center;

  height: 90vh;

  padding-top: 10vh;
}

.hero-container {
  position: relative;

  display: flex;
}

.hero-title {
  position: absolute;
  top: 20vh;
  right: 0;
  width: 400px;
  filter: drop-shadow(0 0 8px $bg01);
}

.hero-subtitle {
  color: $color01;
}

.hero-vertical {
  rotate: 270deg;
  position: absolute;
  top: 40px;
  left: -70px;
}

.hero-image {
  display: flex;
  justify-content: center;
}

.img-profile {
  height: 80vh;

  margin-left: -90px;

  border: 5px solid $bg01;
  border-bottom-right-radius: 50%;
}

.scroll-info {
  position: absolute;
  bottom: 50px;
  right: 20px;

  display: flex;
  align-items: center;
  gap: 16px;
}

.social-buttons {
  position: absolute;
  bottom: 50px;
  left: 20px;

  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-down {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .hero-vertical {
    display: none;
  }
  .hero-title {
    box-sizing: border-box;

    position: absolute;
    top: unset;
    bottom: 5vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 24px;
    text-align: center;
  }
  .img-profile {
    width: auto;
  }
  .scroll-info,
  .social-buttons {
    bottom: 20px;
  }
}

@media (max-width: 450px) {
  .social-buttons {
    display: none;
  }
}
