<section id="section-hero">
  <div class="hero-container content-width">
    <div class="hero-title">
      <h2 class="hero-vertical">I am</h2>
      <h2><span class="first-letter-blue">D</span>ENNIS</h2>
      <h2><span class="first-letter-blue">S</span>CHMALSTIEG</h2>
      <h2 class="hero-subtitle">Frontend Developer</h2>
      <div class="h-center my-32">
        <a class="button-01" href="#section-contact">Let's talk!</a>
      </div>
    </div>
    <div class="hero-image">
      <img
        class="img-profile"
        src="./assets/ds_profile/profile_01_cut_effect.png"
        alt="ds_profile"
      />
    </div>
    <div class="scroll-info">
      <span>SCROLL DOWN</span>
      <img class="icon-down" src="./assets/buttons/down_white.png" alt="" />
    </div>
  </div>
</section>
