@import "src/assets/global-scss.scss";

#section-hero {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.img-profile {
  width: 40vw;
  max-width: 400px;

  filter: drop-shadow(0 0 64px rgba($color01, 0.5));
}
