<section id="section-hero">
  <div class="hero-container content-width">
    <div class="hero-title">
      <div>
        <h2 class="hero-vertical">I am</h2>
        <h2><span class="first-letter">D</span>ENNIS</h2>
        <h2><span class="first-letter">S</span>CHMALSTIEG</h2>
        <h2 class="hero-subtitle">Frontend Developer</h2>
        <div class="h-center my-32">
          <a class="button-01 btn-hero" (click)="gotoSection('section-contact')"
            >Let's talk!</a
          >
        </div>
      </div>
    </div>
    <div class="hero-image">
      <img
        class="img-profile"
        src="./assets/ds_profile/profile_01_cut_effect.png"
        alt="ds_profile"
      />
    </div>
    <div class="social-buttons">
      <a href="https://github.com/felianfilian" target="_blank">
        <img src="./assets/social_icons/icon_git.png" alt="git" />
      </a>
      <a href="mailto:info@dennis-schmalstieg.de" target="_blank">
        <img src="./assets/social_icons/icon_mail.png" alt="mail" />
      </a>
      <a href="https://www.linkedin.com/in/dennis-schmalstieg" target="_blank">
        <img src="./assets/social_icons/icon_linkedin.png" alt="linkedin" />
      </a>
      <a href="https://www.xing.com/profile/Dennis_Schmalstieg" target="_blank">
        <img src="./assets/social_icons/icon_xing.png" alt="xing" />
      </a>
    </div>
    <div class="scroll-info">
      <span>SCROLL DOWN</span>
      <img class="icon-down" src="./assets/buttons/down_white.png" alt="" />
    </div>
  </div>
</section>
