<section id="section-contact">
  <div class="title-line">
    <div class="bg-line width-40p"></div>
    <h2 class="dark-bg">Contact</h2>
    <div class="bg-line width-20p"></div>
  </div>

  <div class="section-area">
    <div class="text-block">
      <p>Feel free to reach out for inquiries, feedback, or collaborations.</p>
      <p>Look forward to hearing from you!</p>
    </div>
    <form (submit)="sendMail()" method="post" #myForm>
      <input type="text" placeholder="name" />
      <input type="text" placeholder="email" />
      <input type="text" placeholder="message" />
      <input type="submit" value="senden" />
    </form>
  </div>
</section>
