<section id="section-skills">
  <div class="title-line">
    <div class="bg-line width-20p"></div>
    <h2 class="dark-bg">Skills</h2>
    <div class="bg-line width-40p"></div>
  </div>

  <div class="section-content">
    <div class="text-block">
      <p>
        I have grown my frontend developments skills that have allowed me to
        create different real projects.
      </p>
    </div>

    <div id="skill-list">
      <div class="skill-element">
        <img src="./assets/skill_icons/skill_angular.png" alt="" />
        <span>Angular</span>
      </div>
      <div class="skill-element">
        <img src="./assets/skill_icons/skill_typescript.png" alt="" />
        <span>Typescript</span>
      </div>
      <div class="skill-element">
        <img src="./assets/skill_icons/skill_javascript.png" alt="" />
        <span>Javascript</span>
      </div>
      <div class="skill-element">
        <img src="./assets/skill_icons/skill_html.png" alt="" />
        <span>HTML 5</span>
      </div>
      <div class="skill-element">
        <img src="./assets/skill_icons/skill_css.png" alt="" />
        <span>CSS 3</span>
      </div>
      <div class="skill-element">
        <img src="./assets/skill_icons/skill_git.png" alt="" />
        <span>Git</span>
      </div>
      <div class="skill-element">
        <img src="./assets/skill_icons/skill_api.png" alt="" />
        <span>Rest API</span>
      </div>
      <div class="skill-element">
        <img src="./assets/skill_icons/skill_scrum.png" alt="" />
        <span>Scrum</span>
      </div>
      <div class="skill-element">
        <img src="./assets/skill_icons/skill_firebase.png" alt="" />
        <span>Firebase</span>
      </div>
      <div class="skill-element">
        <img src="./assets/skill_icons/skill_bootstrap.png" alt="" />
        <span>Bootstrap</span>
      </div>
    </div>
  </div>
</section>
