#skill-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
}

.skill-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 16px;
}

.skill-element img {
  overflow: hidden;
  position: relative;
}

.skill-element:hover img {
  animation: moveUp 0.5s ease-in-out forwards;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
