<h1>Skills</h1>

<div id="skill-list">
  <div class="skill-element">
    <img src="./assets/skill_icons/skill_angular.png" alt="" />
    <span>Angular</span>
  </div>
  <div class="skill-element">
    <img src="./assets/skill_icons/skill_typescript.png" alt="" />
    <span>Typescript</span>
  </div>
  <div class="skill-element">
    <img src="./assets/skill_icons/skill_angular.png" alt="" />
    <span>Javascript</span>
  </div>
  <div class="skill-element">
    <img src="./assets/skill_icons/skill_angular.png" alt="" />
    <span>HTML 5</span>
  </div>
  <div class="skill-element">
    <img src="./assets/skill_icons/skill_angular.png" alt="" />
    <span>CSS 3</span>
  </div>
</div>
