<div class="title-line">
  <div class="bg-line width-20p"></div>
  <h2 class="dark-bg">Skills</h2>
  <div class="bg-line width-40p"></div>
</div>
<section id="section-skills">
  <p style="max-width: 80%">
    I have grown my frontend developments skills that have allowed me to create
    different real projects.
  </p>

  <div id="skill-list">
    <div class="skill-element">
      <img src="./assets/skill_icons/skill_angular.png" alt="" />
      <span>Angular</span>
    </div>
    <div class="skill-element">
      <img src="./assets/skill_icons/skill_typescript.png" alt="" />
      <span>Typescript</span>
    </div>
    <div class="skill-element">
      <img src="./assets/skill_icons/skill_angular.png" alt="" />
      <span>Javascript</span>
    </div>
    <div class="skill-element">
      <img src="./assets/skill_icons/skill_angular.png" alt="" />
      <span>HTML 5</span>
    </div>
    <div class="skill-element">
      <img src="./assets/skill_icons/skill_angular.png" alt="" />
      <span>CSS 3</span>
    </div>
    <div class="skill-element">
      <img src="./assets/skill_icons/skill_angular.png" alt="" />
      <span>Angular</span>
    </div>
    <div class="skill-element">
      <img src="./assets/skill_icons/skill_typescript.png" alt="" />
      <span>Typescript</span>
    </div>
    <div class="skill-element">
      <img src="./assets/skill_icons/skill_angular.png" alt="" />
      <span>Javascript</span>
    </div>
    <div class="skill-element">
      <img src="./assets/skill_icons/skill_angular.png" alt="" />
      <span>HTML 5</span>
    </div>
    <div class="skill-element">
      <img src="./assets/skill_icons/skill_angular.png" alt="" />
      <span>CSS 3</span>
    </div>
  </div>
</section>
